html {
  box-sizing: border-box;
  text-align: center;
  font-family: "Press Start 2P";
  color: #F2F4F2;


}

html {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(
      to bottom,
      transparent 50%,
      rgba(0, 0, 0, 0.5) 50%),
    linear-gradient(
      to bottom,
      #296dd6,
      #d03bdd);
  background-size: 10px 10px, 100% 100%;
}

a {
text-decoration: none !important;
}



.winner{
margin-bottom: 1em;
}


button {
font-size: 4em;
margin-top: 1em;
background: none;
border:none;
color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;


}




table {
  text-align: center;
  display: inline-block;

}
td {
  font-size: 120px;
  text-align: center;
  border: 15px solid black;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.box1, .box2, .box3 { border-top: none;}
.box1, .box4, .box7 { border-left: none;}
.box3, .box6, .box9 { border-right: none;}
.box7, .box8, .box9 { border-bottom: none;}

 h1 {
    font-size: 4em;
    color: #B6FF00;
    text-shadow:
      0 0 5px #B6FF00,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fff,
      0 0 80px #fff,
      0 0 90px #B6FF00,
      0 0 100px #B6FF00;
}


footer {
margin-top: 2em;
}
footer a{
text-decoration: none;
color: white;
}
